%link{ :href => 'http://getbarometer.s3.amazonaws.com/assets/barometer/css/barometer.css', :rel => "stylesheet" }
%script{ src: 'http://getbarometer.s3.amazonaws.com/assets/barometer/javascripts/barometer.js', type: 'text/javascript' }
:javascript
  BAROMETER.load('NB5QnLQDcyK3b63Qkq7gN')

