!!! Strict
%html(lang="en")
  %head
    %title Welcome to Zerobot
    %meta{ :charset => "utf-8"}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=Edge,chrome=1"}
    %link{ :href => "/assets/bootstrap_and_overrides.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dupondius.css", :rel => "stylesheet"}
    %link{ :href => "/assets/dupondius-navigation.css", :rel => "stylesheet"}
    %link{ :href => "/assets/planar.css", :rel => "stylesheet"}
    %link{ :href => "/assets/jquery.selectable-grid.css", :rel => "stylesheet"}
  %body.welcome
    %a{href: "https://github.com/dius/zerobot"}
      %img{style: "position: absolute; top: 0; right: 0; border: 0;", src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt: "Fork me on GitHub"}
    %div.steps
      %div#home.home-page
        %div.page-container
          %div.home-main
            %p.main-logo
              %img{src: '/assets/logo/zerobot_wordmark_blk.png'}
            %p.dupondius-blurb The Zerobot Launchpad gets you up and running in no time - creating the stack you need with a fully-automated continuous delivery solution.
            %p.dupondius-blurb Zeroing Iteration Zero.
            %p.dupondius-blurb
              %a.btn.btn-dupondius.btn-xlarge{ :href => '/launchpad'}
                Take me to the Launchpad &nbsp;
                %i.icon-arrow-right.icon-white
              %a.btn.btn-success.btn-xlarge{ :href => 'http://dashboard.zerobot-rails-skeleton.zerobot.io/', :target => '_blank'}
                Live demo &nbsp;
                %i.icon-arrow-right.icon-white
    =render 'shared/feedback'
    =render 'shared/ga'
