!!! Strict
%html(lang="en")
  %head
    %title Zerobot - Launchpad
    %meta{ :charset => "utf-8"}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=Edge,chrome=1"}
    %link{ :href => "/assets/bootstrap_and_overrides.css", :rel => "stylesheet"}
    %link{ :href => "/assets/new/launchpad.css", :rel => "stylesheet"}

    %script{:type => "text/javascript", :src => '/assets/launchpad/new/launchpad.js'}
  %body
    %div.container
      %div.row
        %div.span12
          %h1 Zerobot Launchpad
          %form.form-horizontal
            %h2 Authorisation is required
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum est tellus, egestas commodo dictum volutpat, ornare id elit. Integer eleifend eleifend massa, id luctus neque venenatis dapibus. Sed auctor tellus sollicitudin purus viverra porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet laoreet pellentesque. Curabitur eleifend turpis sed odio blandit ornare.
            %p
              %a.btn.btn-success.btn-xlarge{:href => '/source/new'}
                %i.icon-arrow-right.icon-white
                Authorise me please

            %hr.divider