!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Zerobot - Launchpad
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    / Le styles
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body.launchpad

  =render "shared/empty_nav"

  %div.steps
    %div#page1.page{'data-step' => "true",  'data-submit' => "page-one-done",  'data-next' => "aws-details",  'data-navigation' => "nav-application-name"}
      %div.page-container
        - unless @user
          %h1 Github Authorisation
          %p Welcome to the Launchpad!
          %p &nbsp;
          %p In order to get the application up and running quickly, first we need to authorise access to your github account.
          %p When we have this access, we can create and push your new app directly to your github account and from here deploy all the way to production using the customisable Zerobot continuous delivery solution.
          %a.btn.btn-success.btn-xlarge{:href=> "/source/new"}
            %i.icon-arrow-right.icon-white Authorise me please
        - else
          %h1.launchpad Github Authorised
          %p
            Great, you are logged in as
            %img.avatar{:src => @user.avatar_url}
            %strong
              =@user.login
          %p
            %select#application-name
              %option Choose a repository
              %optgroup{:label => 'User Repositories'}
                - @user.get_user_repos.each do |repo|
                  %option{:value => repo['html_url']}=repo['name']
              %optgroup{:label => 'Org Repositories'}
                - @user.get_org_repos.each do |repo|
                  %option{:value => repo['html_url']}=repo['name']
          %p
            %input#application-token{:type=> "hidden", :value=> @user.token}
            %input#github-account{ :type=> "hidden", :value=> @user.login}
          %p
            %a#page-one-done.btn.btn-primary.btn-xlarge{:href => '#'}
              %i.icon-arrow-down.icon-white
              Get Started
          %p 
            %small
              Dont want to use your own repository? We have a template repository 
              %a{:href => 'http://github.com/DiUS/zerobot/wiki/Zerobot-Template-Repositories', :target => '_blank'} 
                you can fork
          %p.end
            %small
              %a{:href => "/source/new"}
                REAUTHORISE ME PLEASE, I WANT TO USE A DIFFERENT GITHUB ACCOUNT
              %br
              %span 
                (You will need to log out of your github account first)

    %div#aws-details.page.hidden{'data-step' => "true",  'data-submit' => "aws-done", 'data-next' => "region", 'data-navigation' => "nav-application-aws"}
      %div.page-container
        %h1 AWS Authorisation
        %p
          We also need to get your aws credentials that you want to create the new environment under.
        %form.form-horizontal.form-center
          %div.control-group
            %label.control-label{:for => 'aws-access-key-id'}
              AWS Access Key Id: 
            %div.controls
              %input#aws-access-key-id.input-xlarge.span5{:type=>"text", :placeholder=>"Enter your aws access key id"}  

          %div.control-group
            %label.control-label{:for => 'aws-secret-access-key'}
              AWS Secret Access Key: 
            %div.controls
              %input#aws-secret-access-key.input-xlarge.span5{ :type => "text",  :placeholder=>"Enter your aws secret access key"}

          %div.control-group
            %label.control-label{:for => 'aws-private-key'}
              AWS EC2 Key Pair Name: 
            %div.controls
              %input#aws-private-key.input-xlarge.span5{ :type => "text",  :placeholder=>"Enter your aws ec2 key pair name"}
        %p
          %a#aws-done.btn.btn-primary.btn-xlarge{:href => '#'}
            %i.icon-arrow-down.icon-white
            Next step
    %div#region.page.hidden{'data-step' => "true",  'data-submit' => "region-selected", 'data-next' => "summary", 'data-navigation' => "nav-region-selected"}
      %div.page-container
        %h1 Select the AWS region for the application
        %p
          Select an AWS region which meets your needs in terms of cost and availability
        %div
          %select#aws-region.span6
            %option{:value=>"us-east-1",  :selected=>"selected"} US East (Virginia)
            %option{:value=>"us-west-1"}US West (North California)
            %option{:value=>"us-west-2"}US West (Oregon)
            %option{:value=>"eu-west-1"}EU West (Ireland)
            %option{:value=>"ap-southeast-1"}Asia Pacific (Singapore)
            %option{:value=>"ap-southeast-2"}Asia Pacific (Sydney)
            %option{:value=>"ap-northeast-1"}Asia Pacific (Tokyo)
            %option{:value=>"sa-east-1"}South Amercia (Sao Paulo)
        %p
          %a#region-selected.btn.btn-primary.btn-xlarge{:href=>'#'}
            %i.icon-arrow-down.icon-white
            Good! But before we start creating stuff...

    %div#summary.page.hidden{'data-step' => "true",  'data-submit' => "summary-done", 'data-next' => "waiting"}
      %div.page-container
        %h1 Summary of your selections
        %p
          Please review the following information. You may go back and change any selections if you wish to.

        %dl.dl-horizontal.summary
          %dt Github Repository:
          %dd#summary-application-name

          %dt AWS Account:
          %dd#summary-aws-account

          %dt AWS Region
          %dd#summary-aws-region
        %p Initially a brand new dashboard for your app will be created. From there you will be able to configure your environments further.

        %p
          %a#summary-done.btn.btn-success.btn-xlarge{:href=>'#'}
            %i.icon-ok.icon-white
            Start it!

    %div#waiting.page.hidden{'data-step' => "true"}
      %div.page-container
        %h1 Your environments are being created
        %p#please-wait
          Please wait for a moment...
