- if (status === 'passing') {
    %div.build-passing
        %h2 Commit Build is passing.
- else if (status === 'failing') {
    %div.build-failing
        %h2 Commit Build is failing.
- else {
    %div.build-building
        %h2 Initial Commit Build running.