%div.environment-heading
    %h3 = model.name
%div.environment-information.hidden
    %div.environment-description The environment has not been created yet! 
    %div.environment-description You can create this environment right now if you'd like.
    %div.environment-actions
        - if(_(model.name).startsWith('ci')) {
            %button.create_ci.btn.btn-large.btn-primary Launch CI
        - else {
            %button.create.btn.btn-large.btn-primary Create Environmesnt