%div.modal-header
    %h3 Change Pivotal Tracker Project
%div.modal-body
    %h4 Are you sure you want to change the Pivotal Tracker project?
%div.modal-footer
    %a.change.btn.btn-primary Change
    %a.cancel.btn-small Cancel